html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.blog-feed {
  width: 100%;
  min-height: calc(100vh - var(--header-height));
}

.blog-feed-scroll {
  width: 100%;
  max-width: 100%;
}
