.loader {
  border: 4px solid var(--loader-bg);
  border-top: 4px solid var(--loader-color);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin { to { transform: rotate(360deg); } }
