.post-section {
  width: 100%;
  height: calc(100vh - var(--header-height));
  padding: var(--header-height) var(--page-padding);
  box-sizing: border-box;
}

.post-layout {
  display: flex;
  gap: var(--space-l);
  width: 100%;
  height: 100%;
}

.post-layout.narrow {
  flex-direction: column;
}

.post-layout.wide {
  flex-direction: row;
}

/* IMAGE COLUMN */
.post-image-column {
  flex: 1;
  display: flex;
  position: relative;
  min-height: 0;
}

.gallery-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.gallery-column {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  overflow-y: hidden;
  height: 100%;
}

.gallery-image {
  width: 100%;
  object-fit: contain;
  border-radius: var(--radius-m);
}

/* TEXT COLUMN */
.post-text-column {
  flex: 2;
  overflow-y: auto;
  text-align: left;
}

.post-title {
  margin-bottom: var(--space-m);
}
